include ../common/header.pug

doctype html
html
  head
    title kanslulz
  body
    // Header 
    - const title = 'Web Platform Features Test Website'
    - const subtitle = 'Choose a web platform feature to test on your browser'
    +header(title, subtitle)

    ul
      li
        a(href="/backgroundfetch/") Background Fetch
      li
        a(href="/backgroundsync/") Background Sync
      li
        a(href="/webpush/") Web Push
