include ../common/header.pug
include box.pug

doctype html
html
  head
    title kanslulz
    link(rel="stylesheet" href="static/css/styles.css")
  body
    // Header 
    - const title = 'Web Platform Features Test Website'
    - const subtitle = 'Choose a web platform feature to test on your browser'
    +header(title, subtitle)

    div.wrapper
      +box({title: 'Background Sync', redirect: '/backgroundsync/'})
      +box({title: 'Background Fetch', redirect: '/backgroundfetch/'})
      +box({title: 'Web Push', redirect: '/webpush/'})
