include includes/spinner.pug

doctype html
html
  include includes/head.pug
  body
    div.header
      p.header-text Push Notifications Test Website
      p.header-sub Create custom schedulable push notifications    
    div.grid  
      div.instructions
        include includes/instructions.pug
      div.status
        include includes/status.pug
