include includes/spinner.pug
include ../common/header.pug

doctype html
html
  include includes/head.pug
  body
    // Header 
    - const title = 'Push Notifications Test Website'
    - const subtitle = 'Create custom schedulable push notifications'
    +header(title, subtitle)

    div.grid  
      div.instructions
        include includes/instructions.pug
      div.status
        include includes/status.pug
