doctype html
html
  head
    title kanslulz
  body
    h1 Home Page
    ul
      li
        a(href="/backgroundfetch") Background Fetch
      li
        a(href="/backgroundsync") Background Sync
      li
        a(href="/webpush") Web Push
