include ../common/header.pug

doctype html
head
  title Background Sync
  link(rel="stylesheet" href="static/css/styles.css")
  script(src="static/js/index.js", type="module")
body
  // Header 
  - const title = 'Background Sync Test Website'
  - const subtitle = 'Test out Background Sync options'
  +header(title, subtitle)

  div.grid
      div.create
        p.grid-title Create custom sync registration
        hr
        include sync_options.pug
        hr
        div(style="margin-bottom: 10px")
          button.btn Register Sync!
      div.log
        p.grid-title Sync event log
        hr
        div.log-updates
